<div class="project-card">
    <h3><%= project.name %></h3>
    <h4><%= project.role %></h4>
    <p><%= project.company %></p>
    <p><%= project.description %></p>
    <div class="technologies">
        <% project.technologies.forEach(tech => { %>
            <span><%= tech %></span>
        <% }); %>
    </div>
    <% if (project.hasGallery) { %>
        <a href="/gallery?project=<%= project.name.replace(/ /g, '-') %>">Galería</a>
    <% } %>
    <% if (project.link && project.link.trim() !== '') { %>
        <a href="<%= project.link %>" target="_blank">Ver Proyecto</a>
    <% } else { %>
        <a class="disabled-button">En Desarrollo</a>
    <% } %>
</div>